/* общие свойства у всех элементов формы */
.control {
  display: flex;
  flex-direction: column;
  color: #1b1f2b;
}

.control label {
  margin-bottom: 8px;
}

.control input::placeholder {
  color: #a6a6a6;
}

.control input {
  padding: 17px 19.5px 20.5px;
  border-radius: 10px;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
}

.control input:focus {
  border: 1px solid #a6a6a6;
  outline: none;
}

@media screen and (max-width: 960px) {
  .control input {
    padding: 10px;
  }
}
