.stories__items {
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 52.5px;
}

.item__ul {
  padding-left: 30px;
  list-style: none;
  position: relative
}

.item__span {
  position: relative;
}

.item__span::before {
  position: absolute;
  content: "";
  width: 4.5px;
  height: 4.5px;
  top: 45%;
  left: -15px;
  transform: translate(-50%,-50%);

  background: white;
  border-radius: 50%;
}

@media screen and (max-width: 960px ){
  .stories__items {
    gap: 20px;
    padding: 10px 0;
    margin: 0 5px;
  }
    /* точки возле ула кастомные */
    .item__span::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      top: 50%; left: -20px;
      transform: translate(-50%,-50%);
        
      background: white;
      border-radius: 50%;
    }
}

@media screen and (max-width: 680px ){ 
  .item__span {
    position: relative;
    top: 3px;
    left: -6px;
  }
  
  .item__span::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 45%;
    left: -12px;
    transform: translate(-50%,-50%);
  
    background: white;
    border-radius: 50%;
  }

  .item__ul {
    padding-left: 30px;
    list-style: none;
    position: relative
  }
}