.reviews {
  padding-top: 135px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

@media screen and (max-width: 1140px ){ 
  .items {
    grid-column-gap: 18px;
  }
}

@media screen and (max-width: 960px ){
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (max-width: 680px ){ 
  .items {
    display: grid;
    grid-template-columns: 318px;
    grid-row-gap: 22px;
    position: relative;
    top: 10px;      
  }
  .reviews {
    padding-top: 75px;
  }
}
