.commentBlock {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
}

textarea {
  max-height: 152px;
  resize: none;
  color: #1b1f2b;
  padding: 17px 19.5px 20.5px;
  border-radius: 10px;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
}

textarea:focus {
  border: 1px solid #a6a6a6;
  outline: none;
}

@media screen and (max-width: 960px) {
  textarea {
    padding: 10px;
  }
}

@media screen and (max-width: 680px) {
  textarea {
    max-height: 132px;
  }
}
