.item {
  display: flex;
  position: relative;
  bottom: -5px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconInst {
  width: 38px;
  height: 38px;
  position: relative;
  bottom: 3.5px;
  left: 0.5px;
}

.iconFb {
  width: 38px;
  height: 30px;

  position: relative;
  bottom: 0.5px;
  left: 0.5px;
}

.iconVk {
  width: 43px;
  height: 35px;
}

.link {
  position: relative;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s ease;

  border-bottom: 1px rgba(0, 0, 0, 0) solid;
  height: 28px;
}

.link:hover {
  border-bottom: 1px #1b1f2b solid;
}

.link:active {
  color: #efa501;
  border-bottom: 1px #efa501 solid;
}

@media screen and (max-width: 960px) {
  .iconInst {
    width: 25.25px;
    height: 25.25px;
  }

  .iconFb {
    width: 24.54px;
    height: 24px;
  }

  .iconVk {
    width: 28.46px;
    height: 24px;
  }

  .link {
    height: 15px;
  }
}
