.chooseItem {
  height: 531px;
  width: 370px;  
  border-radius: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  
  cursor: pointer;
  position: relative;
}

.storiesItem {
  height: 565px;
  width: 1170px;
  border-radius: 50px;
  padding: 58px 60px 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  
  cursor: pointer;
  position: relative;
}

.storiesItem h3,
.storiesItem p,
.storiesItem p,
.storiesItem p,
.chooseItem h3,
.chooseItem p,
.chooseItem p,
.price {
  color: white;
}

.storiesItem:before,
.chooseItem:before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  
  transition: all 300ms ease;
  top: 0;
  left: 0;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  padding-bottom: 16px;
  max-width: 244px;
}

.details {
  display: flex;
  position: relative;
  z-index: 10;
  color: white
}

/* зелный фон сзади */
.details::before {
  transition: all 3s ease;
  content: "";
  position: absolute;
  width: 200px;
  height: 42px;
  border-radius: 50px;
  top: -7px;
  left: -20px;
  background: #286562;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease;
}

.chooseItem:hover .details::before {
  opacity: 1;
}

.storiesItem:hover .details::before {
  opacity: 1;
}

.storiesItem .price {
  max-width: 554px;
}

.storiesItem .title {
  padding-bottom: 37px;
  max-width: none;
}

.detNlinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.links {
  display: flex;
  position: relative;
  z-index: 10;
  gap: 35px;
}

.link {
  cursor: pointer;
  transition: all 0.3s ease;
  
  border-bottom: 1px rgba(0,0,0,0) solid;
  text-decoration: none;
  color: white;
}

.link:hover {
  border-bottom: 1px white solid;
}

.link:active {
  color: #EFA501;
  border-bottom: 1px #EFA501 solid;
}

/* белая стрелочка справа */
.details::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 136px;
  filter: brightness(0) invert(1);
  width: 22px;
  height: 15px;
  background: url(assets/icons/arrow.png);
}


.story1:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/storyphoto1.jpg) center no-repeat;
  background-size: cover;
}

.story2:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/storyphoto2.jpg) center no-repeat;
  background-size: cover;
}

.story3:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/storyphoto3.jpg) center no-repeat;
  background-size: cover;
  left: 0;
}

.storiesItem:hover:before {
  transform: scale(1.2);
}

.item1:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/cardtourphoto1.jpg) center no-repeat;
  background-size: cover;
}

.item2:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/cardt2.png) center no-repeat;
  background-size: cover;
}

.item3:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/cardt3.png) center no-repeat;
  background-size: cover;
}

.item4:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/cardtourphoto4.jpg) center no-repeat;
  background-size: cover;
}

.item5:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/cardt5.png) center no-repeat;
  background-size: cover;
}

.item6:before {
  background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/cardt6.png) center no-repeat;
  background-size: cover;
}

.chooseItem:hover:before {
  transform: scale(1.2);
}


@media screen and (max-width: 1235px) {
  .chooseItem {
    height: 531px;
    width: 450px;
  }

  .chooseItem:before {
    height: 531px;
    width: 450px;
    background-size: cover;
  }

  .storiesItem {
    width: 918px;
  } 
}

@media screen and (max-width: 1140px ){
  .title {
    max-width: 348px;
  }

  .story1:before {
    background: 
      linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      url(assets/photos/1140/stories/si1.png) center no-repeat;
  }

  .story2:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/1140/stories/si2.png) center no-repeat;
  }

  .story3:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/1140/stories/si3.png) center no-repeat;
  }
}

@media screen and (max-width: 960px ){
  .title {
    padding-bottom: 13px;
  }

  .details {
    position: relative;
    top: -2px;
  }

  .chooseItem:hover .details::before {
    opacity: 0;
  } 

  .details::after {
    top: 4px;
    left: 100px;
  }

  .chooseItem {
    height: 318px;
    width: 318px;
    padding: 25px;
    border-radius: 20px;
  }

  .chooseItem:before {
    height: 318px;
    width: 318px;
    background-size: cover;
  }

  .storiesItem {
    max-height: 455px;
    max-width: 100%;  
    border-radius: 20px;
    padding: 30px 25px 30px 30px;
  }
  
  .details::before {
    width: 150px;
    top: -9px;
    left: -15px;
  }
}

@media screen and (max-width: 680px ){ 
  .item1:before {
    background: 
      linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      url(assets/photos/670/cardtour/ct1.png) center no-repeat;
  }
  
  .item2:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/cardtour/ct2.png) center no-repeat;
  }
  
  .item3:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/cardtour/ct3.png) center no-repeat;
  }
  
  .item4:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/cardtour/ct4.png) center no-repeat;
  }
  
  .item5:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/cardtour/ct5.png) center no-repeat;
  }
  
  .item6:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/cardtour/ct6.png) center no-repeat;
  }

  .links {
    display: none;
  }
  
  .storiesItem .price {
    max-width: 500px;
  }
  
  .storiesItem .title {
    padding-bottom: 20px;
    max-width: 140px;
  }
  
  .detNlinks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .story1:before {
    background: 
      linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      url(assets/photos/670/stories/si1.png) center no-repeat;
      background-size: cover;
  }

  .story2:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/stories/si2.png) center no-repeat;
    background-size: cover;
  }

  .story3:before {
    background: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
    url(assets/photos/670/stories/si3.png) center no-repeat;
    background-size: cover;
  }
}