.radioBlock {
  grid-column-start: 1;
  grid-column-end: 3;
	grid-row: 5;
  margin-top: 2px;
  margin-bottom: -1px;
}


.form__choices {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
}

.form__choices label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0; 
  height: 0;
}

.form__choices label {
  padding-left: 37px;
  width: 94px;
  display:block;
  position: relative;
  cursor: pointer;
}

.fakeradio {
  position: absolute;
  top: 1.5px;
  left: 0;
  
  width: 26px; 
  height: 26px;
  background-color: white;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  transition: all 300ms ease;
}

.fakeradio::after {
  content: "";
  position: absolute;
  display: none;
  top: 5.65px;
  left: 5.65px;
  background-color:#1B1F2B;
  width: 12px;
  height: 12px;
  border-radius:50%;
}

label input:checked ~ .fakeradio:after {
  display: block;
}


@media screen and (max-width: 960px ){ 
  .form__choices label {
    padding-left: 30px;
    width: 81px;
  }
  
  .fakeradio {
    width: 20px; 
    height: 20px;
  }
  
  .fakeradio:after {
    width: 9.23px;
    height: 9.23px;
    top: 3.95px;
    left: 3.8px;
  }

}