.form {
  background-color: white;
  border-radius: 50px;
  padding: 70px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-row-gap: 32px;
  grid-column-gap: 30px;
  max-height: 986px;
}

.license {
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  border-bottom: 1px rgba(0, 0, 0, 0) solid;
  color: #1b1f2b;
}

.license:hover {
  border-bottom: 1px #1b1f2b solid;
}

.license:active {
  color: #286562;
  border-bottom: 1px #286562 solid;
}

@media screen and (max-width: 1140px) {
  .form {
    padding: 60px;
  }
  form {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 960px) {
  .form {
    padding: 20px;
    border-radius: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 29px;
    max-height: 100%;
  }

  .license {
    color: #1b1f2b;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 680px) {
  .form {
    margin: 0 5px;
  }
}
