.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
}

._container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0 15px;
}

.reviews, .choose, .pack, .stories, .join {
  padding-top: 135px;
}

.join {
  padding-bottom: 135px;
}

.photos {
  padding-top: 132px;
}

.photos {
  padding-top: 130px;
}


@media screen and (max-width: 1140px ){ 
  ._container {
      margin: 0 39px;
  }
}

@media screen and (max-width: 680px ){ 
  ._container {
    margin: 0 auto;
  }

  .reviews, .photos, .choose, .pack, .stories, .join {
    padding-top: 75px;
  }

  .join {
    padding-top: 68px;
    padding-bottom: 75px;
  }
}