select {
  /* стоковую галку убрал */
  appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 17px 19.5px 20.5px;
  border-radius: 10px;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
}

select:focus {
  border: 1px solid #a6a6a6;
  outline: none;
}

.directionForm {
  position: relative;
  width: 100%;
}

.directionForm::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 60px;
  right: 22px;
  background: url(assets/icons/mark.png) no-repeat center;
}

@media screen and (max-width: 960px) {
  .directionForm::after {
    top: 45px;
    right: 13.5px;
  }
  select {
    padding: 10px;
  }
}
